<%= render partial: 'layouts/navbar_home' %>

<div class="background-bubble bb-1"></div>
<div class="background-bubble bb-2"></div>
<div class="container-md-9 my-5">
  <h1 class="h1 text-center text-white index">BEAST Hack</h1>
</div>
<div class="col-md-9 col-sm-11 my-5 mx-auto border rounded p-3 text-white index-text">
  <p>Хакатон (от англ. hacker и marathon, «хакерский марафон») – это 24-часовое командное соревнование разработчиков, в течение которого специалисты из разных областей IT решают определенную задачу, создавая уникальный продукт.</p>
  <p>Хакатон сегодня – это площадка, где программистам дается возможность проверить свои навыки, найти соратников и финансовую поддержку для своих проектов. В то время как компании-заказчики получают не только готовые решения, но и талантливых кандидатов для набора в штат.</p>
  <p>Наш BEST Hack проводится ежегодно уже в течение семи лет на базе МГТУ им. Н. Э. Баумана. К соревнованиям допускаются студенты и аспиранты ВУЗов Москвы и Московской области.</p>
</div>
<div class="container-md-9 my-5">
  <h1 class="h1 text-center text-white index">Направления</h1>
</div>
<div class="col-md-9 col-sm-11 my-5 mx-auto border rounded p-3 text-white index-text">
  <p>Каждый год мы стараемся выбираем наиболее перспективные направления разработки. В этом году представлены следующие направления:</p>
  Data-science
  Анализ больших объемов данных с применением методов математической статистики и машинного обучения, а также их визуализация. Анализ текста, компьютерное зрение, глубокое обучение.
  Web-разработка
  Проектирование пользовательских веб-сайтов и вебприложений. Дизайн, верстка, программирование на стороне клиента, backend и работа с API.
</div>
<div class="container-md-9 my-5">
  <h1 class="h1 text-center text-white index">О нас</h1>
</div>
<div class="col-md-9 col-sm-11 my-5 mx-auto border rounded p-3 text-white index-text" id="indexAbout">
  <p>
    BEST (Board of European Students of Technology) — ассоциация студентов технических университетов Европы, неполитическая и некоммерческая организация.
  </p>
  <p>
    Основной целью BEST является разностороннее развитие студентов технических университетов Европы, предоставление бесплатного дополнительного образования.
  </p><p>
    В МГТУ им. Баумана группа BEST образована инициативной группой студентов и существует с сентября 2006 года. BEST в МГТУ – единственное отделение ассоциации BEST в Москве, и одно из четырех в России. За это время, более 500 бауманцев приняли участие в различных международных мероприятиях. Являясь сплоченной командой, члены BEST готовы к решению различных задач, направленных на улучшение качества образования.
  </p><p>
    Локальные группы BEST представлены в 96 технических университетах 35 стран Европы.
  </p>
</div>
<div class="container-md-9 my-5">
  <h1 class="h1 text-center text-white index">Партнерам</h1>
</div>

<div class="col-md-9 col-sm-11 my-5 mx-auto rounded p-3 text-white index-text position-relative" data-carousel id="indexPartners">
  <div class="buttons mx-auto d-flex" style="width: 500px">
    <button class="carousel-button prev btn btn-auth-proceed w-100 me-1" data-carousel-button="prev">Назад</button>
    <button class="carousel-button next btn btn-auth-proceed w-100 ms-1" data-carousel-button="next">Вперед</button>
  </div>
  <div data-slides>
  <div class="card text-purple mx-auto position-absolute" style="width: 500px; font-size: 1.5rem">
    <%= image_tag 'beast_hack_favicon.jpeg', class: 'card-img-top' %>
    <div class="card-body">
      <h3 class="card-title">One two trip</h3>
      <hr />
      <p class="card-text">BEAST с первого дня и до последней минуты мероприятия находятся с вами на связи, помогая по любым вопросам. Молодые, активные и энергичные сотрудники не просто выполняют свою работу, они искренне помогают лучшим студентам найти идеальных работодателей. Надеемся, что мы еще ни раз сможем поработать вместе с BEAST и верим, что это только начало нашей долгой дружбы :)</p>
    </div>
    <div class="card-footer" style="font-size: 1.2rem">
      Постояннный партнер хакатона с 2019 года
    </div>
  </div>

  <div class="card text-purple mx-auto position-absolute" style="width: 500px; font-size: 1.5rem" data-active>
    <%= image_tag 'procter-and-gamble-elearning-banner.jpg', class: 'card-img-top' %>
    <div class="card-body">
      <h3 class="card-title">Procter &#38; Gamble</h3>
      <hr />
      <p class="card-text">...Ваш нетрадиционный, творческий подход к подготовке мероприятий, неординарная форма игры помогли нам не только усилить интерес к нашему предприятию как работодателю,
        но и выявить наиболее талантливых ребят. Мы очень признательны Вам за высокий професиональный уровень, понимание наших потребностей и оригинальное решение поставленных задач.</p>
    </div>
    <div class="card-footer" style="font-size: 1.2rem">
      Постояннный партнер хакатона с 2016 года
    </div>
  </div>

  <div class="card text-purple mx-auto position-absolute" style="width: 500px; font-size: 1.5rem">
    <%= image_tag 'Unknown.png', class: 'card-img-top' %>
    <div class="card-body">
      <h3 class="card-title">Bellerage</h3>
      <hr />
      <p class="card-text">Нам очень понравился уровень мероприятия, было много студентов, все технические вопросы решались оперативно. Спасибо за безупречно организованное мероприятие и за возможность пообщаться со студентами вживую!</p>
    </div>
    <div class="card-footer" style="font-size: 1.2rem">
      Партнер хакатона 2021 года
    </div>
  </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    const buttons = document.querySelectorAll("[data-carousel-button]")

    buttons.forEach(button => {
        button.addEventListener("click", () => {
            const offset = button.dataset.carouselButton === "next" ? 1 : -1
            const slides = button
                .closest("[data-carousel]")
                .querySelector("[data-slides]")

            const activeSlide = slides.querySelector("[data-active]")

            let newIndex = [...slides.children].indexOf(activeSlide) + offset
            if (newIndex < 0) newIndex = slides.children.length - 1
            if (newIndex >= slides.children.length) newIndex = 0

            slides.children[newIndex].dataset.active = true
            delete activeSlide.dataset.active
        })
    })
</script>
