<%= render partial: 'layouts/navbar_home' %>
<div class="container-md-9 my-5">
  <h1 class="h1-white text-center text-white index">BEAST Hack</h1>
  <p>Find me in app/views/home_page/index.html.erb</p>
  <div class="background-bubble-1"></div>
</div>
<div class="container-md-9 my-5">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dicta enim ipsa obcaecati, porro quia sequi totam voluptatibus. Odit qui reprehenderit vitae! Alias animi, aperiam aspernatur at commodi delectus dolor dolorem ea eaque earum eius eum facilis illo ipsa ipsum itaque iure laudantium magnam maxime mollitia necessitatibus neque nihil nisi obcaecati officiis placeat praesentium provident quam quis quod quos reiciendis reprehenderit repudiandae sapiente sed, totam vero. Aperiam aut autem eligendi est hic labore, obcaecati pariatur porro quisquam, saepe sed sequi vero voluptatibus. Earum eveniet excepturi id, ipsum iure labore maxime quia unde voluptas. Accusamus atque error, esse explicabo incidunt maiores.
  </p>
</div>
