//= require_self
//= require_tree .
//@import 'bootstrap-sprockets'
//@import 'bootstrap'


// ======== GENERAL
body
  background: #191229

.background-bubble-1
  position: absolute
  top: 100px
  left: 10vw
  filter: blur(100px)
  width: 520px
  height: 420px
  border-radius: 100%
  background-color: #281a30
  z-index: -1

.h1-white
  color: white
  .index
    font-size: 6rem


// ======== NAVBAR
.navbar
  background: #120d1f
  //border: 3px solid red
//  height: 70px
