//= require_self
//= require_tree .
//@import 'bootstrap-sprockets'
//@import 'bootstrap'


// ======== GENERAL
body
  background: #191229

.background-bubble
  position: absolute
  filter: blur(100px)
  width: 520px
  height: 420px
  border-radius: 100%
  background-color: #281a30
  z-index: -1

.bb-1
  top: 100px
  left: 10vw

.h1-white
  color: white

.index.h1-white
  font-size: 6rem

// ======== NAVBAR
.navbar
  background: #120d1f
  height: 70px
