<div class="navbar navbar-expand-md shadow position fixed">
  <div class="container-fluid">
    <div class="navbar-brand align-middle">
      <a href="#">BEAST HACK</a>
    </div>
    <div class="collapse navbar-collapse d-inline align-middle" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link">Disabled</a>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= button_to "Личный кабинет", new_user_session_path, method: :get,
                  data: { turbo: false }, class: 'btn btn-outline-light mx-1' %>
  <% else %>
    <%= button_to "Вход", new_user_session_path, method: :get,
            data: { turbo: false }, class: 'btn btn-outline-light mx-1' %>
    <%= button_to "Регистрация", new_user_registration_path, method: :get,
            data: { turbo: false }, class: 'btn btn-outline-light mx-1' %>
  <% end %>
</div>